
#headerBox {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0em;
    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    z-index: 10;
}

@media screen and (min-width: 560px) and (max-width: 849px) {
 

    #headerBox {
        margin: 0;
        width: 20%;
        height: 50%;
        position: fixed;
        left: .1em;
        border-bottom: none;
        background-color: cornsilk;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
    }    
}

@media  (min-width: 850px) {
    #headerBox {
        justify-content: flex-end;
        font-size: 1.5rem;
    }
    .pageLink {
        padding: 0 1em;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    
    
    #headerBox {
        margin: 0;
        width: 100%;
        height: 10%;
        position: fixed;
        top: 0em;
        font-size: 1.5rem;
        background-color: cornsilk;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .pageLink {
        padding: 0 1em;
    }
}